* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: #10cab7;
    text-transform: capitalize;
    transition: .3s;
}

.header .logo:hover {
    transform: scale(1.4);

}

.header .links {
    position: relative;
}

.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    background-color: #eee;
    min-width: 200px;
    top: calc(100%+15px);
    display: none;
    z-index: 1;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: .3s;
    color: #333;


}

.header .links:hover ul {
    display: block;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icons span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icons span:first-child {
    width: 100%;
}

.header .links .icons span:nth-child(2) {
    width: 60%;
}

.header .links .icons span:last-child {
    width: 100%;
}

/* start landing */
.landing {
    background-image: url(../images/landing.jpeg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .introtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.landing .introtext h1 {
    color: #10cab7;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin: -192px;
}

.landing .introtext p {
    font-size: 19px;
    line-height: 1.8;
    text-align: center;
    margin-top: 230px;
}

/* Features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f4f4;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px;

}

.features .container .feat {
    padding: 20px;
    text-align: center;
}

.features .container .feat i {
    color: #10cab7;
    transition: .3s;
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 20px;
}

/* .features .container .feat:hover i{
    margin-top: 20px;
} */
/* special heading */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    text-align: center;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}

/* start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 70px;
}

.image img {
    width: 120px;
    margin-left: 150px;
}

.services .srevice-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px;
    margin-top: 100px;
}

.services .srevice-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services .srevice-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .srevice-content .serv i {
    color: #10cab7;
    flex-basis: 60px;
}

.services .srevice-content .serv .text {
    flex: 1;
}

.services .srevice-content .serv .text h3 {
    font-weight: 800;
    margin: 0 0 20px;
}

.services .srevice-content .serv .text p {
    color: #777;
    line-height: 1.8;
    font-weight: 300;
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 70px;
    background-color: #f6f4f4;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
    transition: .3s;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
    font-weight: 800;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 0;
}

.portfolio .portfolio-content .card:hover img {
    margin-top: 10px;
}

.about {
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 70px;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about .about-content .image {
    width: 612px;
    height: 344px;
    max-width: 100%;
    position: relative;
}

.about .about-content .image::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #797979;
    top: -40px;
    left: 110px;
    z-index: -1;
}

.about .about-content .image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    right: -306px;
    z-index: -1;
    border-bottom: 80px solid #10cab7;
    border-left: 80px solid #10cab7;
}

.about .about-content .image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 4;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* Start contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f4f4;
}

.contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.contact .info .lable {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -2px;
    color: #2c4755;
    margin: 20px;
}

.contact .info .link {
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 15px;
    color: #2c4755;
    transition: .3s;
    cursor: pointer;
}

.contact .info .social i:nth-of-type(1):hover {
    color: red;
    transform: scale(1.3);
}

.contact .info .social i:nth-of-type(2):hover {
    color: rgb(7, 127, 188);
    transform: scale(1.3);
}

.contact .info .social i:nth-of-type(3):hover {
    color: rgb(29, 202, 232);
    transform: scale(1.3);
}


/* footer */
.footer {
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    font-size: 20px;
    text-align: center;
}

.footer span {
    color: #10cab7;
    font-weight: bold;
}